@import './util/functions', './util/mixins', './util/variables', './base/index';

.result{
  background-color: #eee;
  margin-top: 3rem;
  padding: 3rem;
  text-align: center;
  .menu-item{
    padding: 1rem;
  }
  img{
    width: 15rem;
    height: 10rem;
    background-size: cover;
  }
}

select{
  background-color: #eee;
}